body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes superlight {
    from {transform: rotate(1deg);}
    to {transform: rotate(360deg);}
}

@keyframes showlvl {
    0% {right: 40%;top: 40%; transform: scale(0);}
    25% {right: 40%;top: 40%; transform: scale(3);}
    50% {right: 40%;top: 40%; transform: scale(3);}
    100% {right: 100px; top: 20px; transform: scale(1);}
}

.stage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-0 {
    width: 100%;
    height: 100%;
    background-color: #F4F9E2;
    position: relative;
    $aotuman-width: 197px;
    $aotuman-height: 256px;
    $grass1-width: 154px;
    $grass1-height: 88px;
    $grass2-width: 1136px;
    $grass2-height: 120px;
    $loading-width: 138px;
    $loading-height: 45px;
    .aotuman {
        width: #{$aotuman-width};
        height: #{$aotuman-height};
        background-image: url("Man1.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$aotuman-width/2 + 15px},
        #{-$aotuman-height/2 - 50px});
    }
    .grass1 {
        width: #{$grass1-width};
        height: #{$grass1-height};
        background-image: url("Grass0.png");
        background-size: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$aotuman-width/2 + 15px - $grass1-width/2},
        #{$aotuman-height/2 - $grass1-height - 50px});
    }
    .grass2 {
        width: #{$grass2-width};
        height: #{$grass2-height};
        background-image: url("Grass3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .loading {
        width: 100%;
        height: #{$loading-height};
        // background-image: url("loading..png");
        // background-repeat: no-repeat;
        // background-size: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translate(0,
        #{-$loading-height/2 + $aotuman-height/2});
        .number1,
        .number2 {
            width: 33px;
            height: 35px;
            display: inline-block;
            background-image: url("NumLoading.png")
        }
        .percent {
            width: 45px;
            height: 39px;
            background: url('loading.png');
            display: inline-block;
        }
    }
}

.page-1 {
    width: 100%;
    height: 100%;
    background-color: #F1F6DF;
    position: relative;
    $starticon-width: 600px;
    $starticon-height: 391px;
    $startbtn-width: 298px;
    $startbtn-height: 118px;
    .start-icon {
        width: #{$starticon-width};
        height: #{$starticon-height};
        background-image: url("StartIcon.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$starticon-width/2},
        #{-$starticon-height/2 - 70px});
    }
    .start-btn {
        width: #{$startbtn-width};
        height: #{$startbtn-height};
        background-image: url("StartBtn.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$startbtn-width/2},
        #{-$startbtn-height/2 + $starticon-height/2});
        &:hover {
            background: url("StartBtn.png") no-repeat -0px -118px;
        }
    }
}

.page-2 {
    width: 100%;
    height: 100%;
    background: url("game_bg.jpg");
    background-repeat: no-repeat;
    // background-size: cover;
    background-attachment: fixed;
    position: relative;
    .aotuman {

        width: 262px;
        height: 290px;
        z-index: 500;
        background: url("Aotuman.png") no-repeat -586px -290px;
        position: absolute;
        left: 18px;
        top: 120px;
        &.aotuman1-1 {
            width: 262px;
            height: 290px;
            background-position: -586px -290px;
        }
        ,
        &.aotuman2-1 {
            width: 274px;
            height: 290px;
            background-position: -572px -581px;
        }
        ,
        &.aotuman2-2 {
            width: 313px;
            height: 293px;
            background-position: -0px -0px;
        }
        ,
        &.aotuman2-3 {
            width: 274px;
            height: 290px;
            background-position: -313px -0px;
        }
        ,
        &.aotuman3-1 {
            width: 274px;
            height: 288px;
            background-position: -312px -293px;
        }
        ,
        &.aotuman3-2 {
            width: 298px;
            height: 293px;
            background-position: -0px -586px;
        }
        ,
        &.aotuman3-3 {
            width: 274px;
            height: 293px;
            background-position: -298px -586px;
        }
        ,
        &.aotuman4-1 {
            width: 244px;
            height: 291px;
            background-position: -846px -580px;
        }
        ,
        &.aotuman4-2 {
            width: 312px;
            height: 293px;
            background-position: -0px -293px;
        }
    }
    .topbar {
        .power-slot {
            z-index: 1000;
            width: 521px;
            height: 122px;
            background-image: url("PowerSlot.png");
            // background-position: 0 -122px;
            position: absolute;
            left: 0;
            top: 0;
            &.full {
                background-position: 0 122px;
            }
        }
        .power-fill {
            z-index: 1000;
            width: 373px;
            height: 37px;
            background-image: url("PowerFill.png");
            background-position: 0 0;
            transform-origin: 0;
            position: absolute;
            left: 131px;
            top: 36px;
            border-radius: 5px;
            overflow: hidden;
            &.full {
                background-position: 0 -37px;
            }
            &.decreace {
                transition: transform 5s linear;
            }
        }
        .mons-icon {
            z-index: 1000;
            width: 86px;
            height: 86px;
            background-image: url("MonsIcon.png");
            position: absolute;
            left: 640px;
            top: 10px;
        }
        .score {
            z-index: 1000;
            height: 70px;
            line-height: 70px;
            left: 750px;
            top: 40px;
            position: absolute;
            .NumGameScore-x {
                display: inline-block;
                width: 40px;
                height: 41px;
                background: url("NumGameScore.png") no-repeat -0px -51px;
            }
            .NumGameScore-1 {
                top: 0px;
                display: inline-block;
                width: 36px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -51px;
            }
            .NumGameScore-2 {
                top: 0px;
                display: inline-block;
                width: 37px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -79px -0px;
            }
            .NumGameScore-3 {
                top: 0px;
                display: inline-block;
                width: 36px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -0px;
            }
            .NumGameScore-4 {
                top: 0px;
                display: inline-block;
                width: 41px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -0px -0px;
            }
            .NumGameScore-5 {
                top: 0px;
                display: inline-block;
                width: 35px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -102px;
            }
            .NumGameScore-6 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -78px -51px;
            }
            .NumGameScore-7 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -78px -102px;
            }
            .NumGameScore-8 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -41px -0px;
            }
            .NumGameScore-9 {
                top: 0px;
                display: inline-block;
                width: 39px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -39px -92px;
            }
            .NumGameScore-0 {
                top: 0px;
                display: inline-block;
                width: 39px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -0px -92px;
            }
        }
        .lvl {
            z-index: 1000;
            // width: 114px;
            height: 74px;
            line-height: 74px;
            right: 100px;
            top: 20px;
            position: absolute;
            text-align: right;
            // transform-origin: 50%;
            $lvlnum-width: 58px;
            .lvl-num {
                background-image: url("Num.png");
                width: #{$lvlnum-width};
                height: 74px;
                display: inline-block;
            }
            .lvl-num-0 {
                background-position: 0 0;
            }
            .lvl-num-1 {
                background-position: #{-$lvlnum-width*1} 0;
            }
            .lvl-num-2 {
                background-position: #{-$lvlnum-width*2} 0;
            }
            .lvl-num-3 {
                background-position: #{-$lvlnum-width*3} 0;
            }
            .lvl-num-4 {
                background-position: #{-$lvlnum-width*4} 0;
            }
            .lvl-num-5 {
                background-position: #{-$lvlnum-width*5} 0;
            }
            .lvl-num-6 {
                background-position: #{-$lvlnum-width*6} 0;
            }
            .lvl-num-7 {
                background-position: #{-$lvlnum-width*7} 0;
            }
            .lvl-num-8 {
                background-position: #{-$lvlnum-width*8} 0;
            }
            .lvl-num-9 {
                background-position: #{-$lvlnum-width*9} 0;
            }
            &.show {
                animation: showlvl ease-in-out 2s;
            }
        }
    }
    .mons-stage {
        @at-root {
            .mons {
                width: 216px;
                height: 196px;
                background: url("Monsters.png") no-repeat -434px -980px;
                position: absolute;
                left: 510px;
                &.mons1-1 {
                    width: 216px;
                    height: 196px;
                    background-position: -434px -980px;
                }
                &.mons1-2 {
                    width: 217px;
                    height: 196px;
                    background-position: -0px -872px;
                }
                &.mons1-3 {
                    width: 216px;
                    height: 196px;
                    background-position: -434px -980px;
                }
                &.mons1-4 {
                    width: 216px;
                    height: 196px;
                    background-position: -650px -784px;
                }
                &.mons1-5 {
                    width: 216px;
                    height: 196px;
                    background-position: -440px -392px;
                }
                &.mons1-6 {
                    width: 208px;
                    height: 200px;
                    background-position: -866px -390px;
                }
                &.mons1-7 {
                    width: 209px;
                    height: 190px;
                    background-position: -656px -380px;
                }
                &.mons1-8 {
                    width: 224px;
                    height: 169px;
                    background-position: -0px -338px;
                }
                &.mons2-1 {
                    width: 216px;
                    height: 196px;
                    background-position: -440px -196px;
                }
                &.mons2-2 {
                    width: 217px;
                    height: 196px;
                    background-position: -0px -676px;
                }
                &.mons2-3 {
                    width: 216px;
                    height: 196px;
                    background-position: -440px -196px;
                }
                &.mons2-4 {
                    width: 216px;
                    height: 196px;
                    background-position: -650px -980px;
                }
                &.mons2-5 {
                    width: 216px;
                    height: 196px;
                    background-position: -650px -588px;
                }
                &.mons2-6 {
                    width: 208px;
                    height: 200px;
                    background-position: -865px -190px;
                }
                &.mons2-7 {
                    width: 209px;
                    height: 190px;
                    background-position: -656px -190px;
                }
                &.mons2-8 {
                    width: 224px;
                    height: 169px;
                    background-position: -0px -169px;
                }
                &.mons3-1 {
                    width: 216px;
                    height: 196px;
                    background-position: -440px -0px;
                }
                &.mons3-2 {
                    width: 217px;
                    height: 196px;
                    background-position: -217px -676px;
                }
                &.mons3-3 {
                    width: 216px;
                    height: 196px;
                    background-position: -440px -0px;
                }
                &.mons3-4 {
                    width: 216px;
                    height: 196px;
                    background-position: -434px -588px;
                }
                &.mons3-5 {
                    width: 216px;
                    height: 196px;
                    background-position: -224px -392px;
                }
                &.mons3-6 {
                    width: 208px;
                    height: 200px;
                    background-position: -866px -590px;
                }
                &.mons3-7 {
                    width: 209px;
                    height: 190px;
                    background-position: -656px -0px;
                }
                &.mons3-8 {
                    width: 224px;
                    height: 169px;
                    background-position: -0px -507px;
                }
                &.mons4-1 {
                    width: 216px;
                    height: 196px;
                    background-position: -434px -784px;
                }
                &.mons4-2 {
                    width: 217px;
                    height: 196px;
                    background-position: -217px -872px;
                }
                &.mons4-3 {
                    width: 216px;
                    height: 196px;
                    background-position: -434px -784px;
                }
                &.mons4-4 {
                    width: 216px;
                    height: 196px;
                    background-position: -224px -196px;
                }
                &.mons4-5 {
                    width: 216px;
                    height: 196px;
                    background-position: -224px -0px;
                }
                &.mons4-6 {
                    width: 208px;
                    height: 200px;
                    background-position: -866px -790px;
                }
                &.mons4-7 {
                    width: 209px;
                    height: 190px;
                    background-position: -865px -0px;
                }
                &.mons4-8 {
                    width: 224px;
                    height: 169px;
                    background-position: -0px -0px;
                }
            }
        }
        .bullet {
            background-image: url("Bullet.png");
            width: 148px;
            height: 47px;
            z-index: 1000;
            transition: transform .1s linear;
        }
    }
    .super-strike {
        width: 201px;
        height: 215px;
        background-image: url("SuperStrike.png");
        position: absolute;
        left: 200px;
        bottom: 130px;
        z-index: 1000;
        background-position: 0 0;
        &.full {
            background-position: -201px 0;
        }
    }
    .grass {
        width: 1136px;
        height: 228px;
        background-image: url("GameGrass.png");
        position: absolute;
        left: 0;
        z-index: 500;
        // top: 500px;
        bottom: 0;
    }
    .gap {
        width: 53px;
        height: 452px;
        background-image: url("Gap.png");
        position: absolute;
        left: 270px;
        top: 0;
    }
    .control {
        width: 1136px;
        height: 139px;
        z-index: 501;
        // background-image: url("Key.png");
        position: absolute;
        left: 0;
        // top: 500px;
        bottom: 0;
        $controlwidth: 284px;
        $controlheight: 139px;
        .key {
            width: #{$controlwidth};
            height: #{$controlheight};
            float: left;
            background: url("Key.png");
            z-index: 1;
        }
        .control-1 {
            background-position: 0 0;
            &:hover {
                background-position: 0 #{-$controlheight};
            }
        }
        .control-2 {
            background-position: #{-$controlwidth} 0;
            &:hover {
                background-position: #{-$controlwidth} #{-$controlheight};
            }
        }
        .control-3 {
            background-position: #{-$controlwidth*2} 0;
            &:hover {
                background-position: #{-$controlwidth*2} #{-$controlheight};
            }
        }
        .control-4 {
            background-position: #{-$controlwidth*3} 0;
            &:hover {
                background-position: #{-$controlwidth*3} #{-$controlheight};
            }
        }
        &::after {
            content: "";
            clear: both;
        }
    }
    .strike-board {
        width: 713px;
        height: 92px;
        z-index: 510;
        background: url("StrikeBoard.png") no-repeat;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .super-light {
        animation: superlight 2s linear infinite;
        width: 460px;
        height: 460px;
        z-index: 100;
        position: absolute;
        background: url("SuperLight.png") no-repeat;
        left: -51px;
        top: 45px;
    }
}

.page-3 {
    width: 100%;
    height: 100%;
    background-color: #FEFFEF;
    position: relative;
    $grass2-width: 1136px;
    $grass2-height: 261px;
    $aotuman-width: 718px;
    $aotuman-height: 615px;
    $score-board-width: 565px;
    $score-board-height: 395px;
    $restart-width: 271px;
    $restart-height: 136px;
    $share-width: 341px;
    $share-height: 136px;
    .grass {
        width: #{$grass2-width};
        height: #{$grass2-height};
        background-image: url("Grass2.png");
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .aotuman {
        width: #{$aotuman-width};
        height: #{$aotuman-height};
        background-image: url("Man2.png");
        position: absolute;
        left: 0;
        top: 0;
    }
    .score-board {
        width: #{$score-board-width};
        height: #{$score-board-height};
        background-image: url("ScoreBoard.png");
        position: absolute;
        right: 35px;
        top: 30px;
        .score {
            position: absolute;
            width: 980px;
            height: 100px;
            line-height: 100px;
            top: 220px;
            right: 110px;
            text-align: right;
            $numscore-width: 93px;
            .NumScore {
                display: inline-block;
                width: #{$numscore-width};
                height: 99px;
                background: url("NumScore.png")
            }
            .NumScore-0 {
                background-position: 0px 0px;
            }
            .NumScore-1 {
                background-position: #{-$numscore-width} 0px;
            }
            .NumScore-2 {
                background-position: #{-$numscore-width*2} 0px;
            }
            .NumScore-3 {
                background-position: #{-$numscore-width*3} 0px;
            }
            .NumScore-4 {
                background-position: #{-$numscore-width*4} 0px;
            }
            .NumScore-5 {
                background-position: #{-$numscore-width*5} 0px;
            }
            .NumScore-6 {
                background-position: #{-$numscore-width*6} 0px;
            }
            .NumScore-7 {
                background-position: #{-$numscore-width*7} 0px;
            }
            .NumScore-8 {
                background-position: #{-$numscore-width*8} 0px;
            }
            .NumScore-9 {
                background-position: #{-$numscore-width*9} 0px;
            }
        }
    }
    .restart {
        width: #{$restart-width};
        height: #{$restart-height};
        background-image: url("Restart.png");
        background-position: 0 #{$restart-height};
        position: absolute;
        left: 140px;
        bottom: 20px;
    }
    .share {
        width: #{$share-width};
        height: #{$share-height};
        background-image: url("Share.png");
        background-position: 0 #{-$share-height};
        position: absolute;
        right: 140px;
        bottom: 20px;
    }
}
