body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.stage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page-0 {
    width: 100%;
    height: 100%;
    background-color: #F4F9E2;
    position: relative;
    $aotuman-width: 197px;
    $aotuman-height: 256px;
    $grass1-width: 154px;
    $grass1-height: 88px;
    $grass2-width: 1136px;
    $grass2-height: 120px;
    $loading-width: 138px;
    $loading-height: 45px;
    .aotuman {
        width: #{$aotuman-width};
        height: #{$aotuman-height};
        background-image: url("Man1.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$aotuman-width/2 + 15px},
        #{-$aotuman-height/2 - 50px});
    }
    .grass1 {
        width: #{$grass1-width};
        height: #{$grass1-height};
        background-image: url("Grass0.png");
        background-size: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$aotuman-width/2 + 15px - $grass1-width/2},
        #{$aotuman-height/2 - $grass1-height - 50px});
    }
    .grass2 {
        width: #{$grass2-width};
        height: #{$grass2-height};
        background-image: url("Grass3.png");
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .loading {
        width: 100%;
        height: #{$loading-height};
        // background-image: url("loading..png");
        // background-repeat: no-repeat;
        // background-size: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
        transform: translate(0,
        #{-$loading-height/2 + $aotuman-height/2});
        .number1,
        .number2 {
            width: 33px;
            height: 35px;
            display: inline-block;
            background-image: url("NumLoading.png")
        }
        .percent {
            width: 45px;
            height: 39px;
            background: url('loading.png');
            display: inline-block;
        }
    }
}

.page-1 {
    width: 100%;
    height: 100%;
    background-color: #F1F6DF;
    position: relative;
    $starticon-width: 600px;
    $starticon-height: 391px;
    $startbtn-width: 298px;
    $startbtn-height: 118px;
    .start-icon {
        width: #{$starticon-width};
        height: #{$starticon-height};
        background-image: url("StartIcon.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$starticon-width/2},
        #{-$starticon-height/2 - 70px});
    }
    .start-btn {
        width: #{$startbtn-width};
        height: #{$startbtn-height};
        background-image: url("StartBtn.png");
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(#{-$startbtn-width/2},
        #{-$startbtn-height/2 + $starticon-height/2});
        &:hover {
            background: url("StartBtn.png") no-repeat -0px -118px;
        }
    }
}

.page-2 {
    width: 100%;
    height: 100%;
    background-image: url("game_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    .aotuman {
        // width: 262px;
        // height: 290px;
        // background: url("Aotuman.png") no-repeat -586px -290px;
        position: absolute;
        left: 18px;
        top: 139px;
    }
    .topbar {
        .power-slot {
            width: 521px;
            height: 122px;
            background-image: url("PowerSlot.png");
            // background-position: 0 -122px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .power-fill {
            width: 373px;
            height: 37px;
            background-image: url("PowerFill.png");
            // background-position: 0 -37px;
            // transform: scaleX(.5) translateX(-50%);
            position: absolute;
            left: 131px;
            top: 32px;
        }
        .mons-icon {
            width: 86px;
            height: 86px;
            background-image: url("MonsIcon.png");
            position: absolute;
            left: 640px;
            top: 10px;
        }
        .score {
            height: 70px;
            line-height: 70px;
            left: 750px;
            top: 40px;
            position: absolute;
            .NumGameScore-x {
                display: inline-block;
                width: 40px;
                height: 41px;
                background: url("NumGameScore.png") no-repeat -0px -51px;
            }
            .NumGameScore-1 {
                top: 0px;
                display: inline-block;
                width: 36px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -51px;
            }
            .NumGameScore-2 {
                top: 0px;
                display: inline-block;
                width: 37px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -79px -0px;
            }
            .NumGameScore-3 {
                top: 0px;
                display: inline-block;
                width: 36px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -0px;
            }
            .NumGameScore-4 {
                top: 0px;
                display: inline-block;
                width: 41px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -0px -0px;
            }
            .NumGameScore-5 {
                top: 0px;
                display: inline-block;
                width: 35px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -116px -102px;
            }
            .NumGameScore-6 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -78px -51px;
            }
            .NumGameScore-7 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -78px -102px;
            }
            .NumGameScore-8 {
                top: 0px;
                display: inline-block;
                width: 38px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -41px -0px;
            }
            .NumGameScore-9 {
                top: 0px;
                display: inline-block;
                width: 39px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -39px -92px;
            }
            .NumGameScore-0 {
                top: 0px;
                display: inline-block;
                width: 39px;
                height: 51px;
                background: url("NumGameScore.png") no-repeat -0px -92px;
            }
        }
    }
    .mons-stage {
        .mons {
            width: 216px;
            height: 196px;
            background: url("Monsters.png") no-repeat -434px -980px;
            position: absolute;
            left: 510px;
            top: 205px;
        }
        .bullet {
            background-image: url("Bullet.png");
            width: 148px;
            height: 47px;
            z-index: 1000;
            transition: transform .1s linear;
        }
    }
    .control {
        width: 1136px;
        height: 139px;
        // background-image: url("Key.png");
        position: absolute;
        left: 0;
        bottom: 0;
        $controlwidth: 284px;
        $controlheight: 139px;
        .key {
            width: #{$controlwidth};
            height: #{$controlheight};
            float: left;
            background: url("Key.png");
        }
        .control-1 {
            background-position: 0 0;
            &:hover {
                background-position: 0 #{-$controlheight};
            }
        }
        .control-2 {
            background-position: #{-$controlwidth} 0;
            &:hover {
                background-position: #{-$controlwidth} #{-$controlheight};
            }
        }
        .control-3 {
            background-position: #{-$controlwidth*2} 0;
            &:hover {
                background-position: #{-$controlwidth*2} #{-$controlheight};
            }
        }
        .control-4 {
            background-position: #{-$controlwidth*3} 0;
            &:hover {
                background-position: #{-$controlwidth*3} #{-$controlheight};
            }
        }
        &::after {
            content: "";
            clear: both;
        }
    }
}

.page-3 {
    width: 100%;
    height: 100%;
    background-color: #FEFFEF;
    position: relative;
    $grass2-width: 1136px;
    $grass2-height: 261px;
    $aotuman-width: 718px;
    $aotuman-height: 615px;
    $score-board-width: 565px;
    $score-board-height: 395px;
    $restart-width: 271px;
    $restart-height: 136px;
    $share-width: 341px;
    $share-height: 136px;
    .grass {
        width: #{$grass2-width};
        height: #{$grass2-height};
        background-image: url("Grass2.png");
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .aotuman {
        width: #{$aotuman-width};
        height: #{$aotuman-height};
        background-image: url("Man2.png");
        position: absolute;
        left: 0;
        top: 0;
    }
    .score-board {
        width: #{$score-board-width};
        height: #{$score-board-height};
        background-image: url("ScoreBoard.png");
        position: absolute;
        right: 35px;
        top: 30px;
        .score {
            position: absolute;
            width: 980px;
            height: 100px;
            line-height: 100px;
            top: 220px;
            right: 110px;
            text-align: right;
            $numscore-width: 93px;
            .NumScore {
                display: inline-block;
                width: #{$numscore-width};
                height: 99px;
                background: url("NumScore.png")
            }
            .NumScore-0 {
                background-position: 0px 0px;
            }
            .NumScore-1 {
                background-position: #{-$numscore-width} 0px;
            }
            .NumScore-2 {
                background-position: #{-$numscore-width*2} 0px;
            }
            .NumScore-3 {
                background-position: #{-$numscore-width*3} 0px;
            }
            .NumScore-4 {
                background-position: #{-$numscore-width*4} 0px;
            }
            .NumScore-5 {
                background-position: #{-$numscore-width*5} 0px;
            }
            .NumScore-6 {
                background-position: #{-$numscore-width*6} 0px;
            }
            .NumScore-7 {
                background-position: #{-$numscore-width*7} 0px;
            }
            .NumScore-8 {
                background-position: #{-$numscore-width*8} 0px;
            }
            .NumScore-9 {
                background-position: #{-$numscore-width*9} 0px;
            }
        }
    }
    .restart {
        width: #{$restart-width};
        height: #{$restart-height};
        background-image: url("Restart.png");
        background-position: 0 #{$restart-height};
        position: absolute;
        left: 140px;
        bottom: 20px;
    }
    .share {
        width: #{$share-width};
        height: #{$share-height};
        background-image: url("Share.png");
        background-position: 0 #{-$share-height};
        position: absolute;
        right: 140px;
        bottom: 20px;
    }
}
